
form{
   display: flex;
   gap: 10px;
}
.button {

   padding: 10px 20px;
   border: none;
   background-color: #6b6b6b;
   color: white;
   border-radius: 8px;
   cursor: pointer;
}
h1 {
   font-size: 40px;
   margin-bottom: 20px;
}
.inputFilms {
   border: 1px solid #6b6b6b;
   background-color: black;
   padding: 10px;
   border-radius: 8px;
   width: 100%;
   max-width: 300px;
}
.mainContent {
   width: 100%;
   display: flex;
   justify-content: center;
}
ul {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   gap: 20px;
   list-style: none;
   padding: 0;
   margin-top: 20px;
}